* {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: white url("/images/bg.png") no-repeat center center;
  min-width: 320px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.dog-icon {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#calculator {
  width: 100%;
  max-width: 500px;
  border: 10px solid #e4e4e4;
  background-color: rgba(234, 234, 234, 0.8);
  border-radius: 40px;
  padding: 20px;
}

#calculator form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

#calculator form input {
  background-image: linear-gradient(#2fdb97, #1e8f62);
  border: 10px solid #e4e4e4;
  border-radius: 20px;
  color: white;
  font-size: 84px;
  width: 94%;
  margin-bottom: 20px;
  padding-left: 20px;
}

input::placeholder,
textarea::placeholder {
  color: white; /* Overrides Firefox's default opacity lowering */
}

#calculator-icons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 600px) {
  body {
    background: white url("/images/mobilebg.png") no-repeat center center;
  }

  #main {
    padding-top: 60px;
  }

  .dog-icon {
    height: 80px;
    width: 80px;
  }

  #calculator {
    border: 6px solid #e4e4e4;
    padding: 16px 8px 8px;
    max-width: 390px;
  }

  #calculator-icons {
    gap: 16px;
  }

  #calculator form input {
    border: 6px solid #e4e4e4;
    font-size: 64px;
    width: 90%;
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 440px) {
  body {
    margin: 0;
  }

  #main {
    padding-top: 90px;
  }

  .dog-icon {
    height: 60px;
    width: 60px;
  }

  #calculator {
    max-width: 295px;
    padding: 12px 4px 4px;
  }

  #calculator-icons {
    gap: 12px;
  }

  #calculator form input {
    font-size: 52px;
  }
}
